.main-container {
  display: flex;
  flex-direction: column;
  background: #F2E9E4;
}

.intro-container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 68rem;
  padding: 20rem 0 2rem 5rem;
  z-index: 10;
}

.intro-container p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 55px;
  padding-top: 5rem;
  color: #000000;
}

.intro-copy {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 4rem;
  width: 45%;
}

:root {
  --td: 1s;
}

.hi-charlie {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 500;
  font-size: 8.2rem;
  line-height: 6rem;
  /* display: inline-block; */
  background-image: linear-gradient(#F2E9E4 60%, #D9D9D9 25%);
  
  --bc: #2A9D8F;
  --d: 0.1s;
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlockHiCharlie 0s var(--t) forwards;
}

.highlight {
  color: transparent;
  animation: revealBlockHighlight 0s var(--t) forwards;
}

/* title block reveal animation */

.hi-charlie::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

.highlight::after {
  color: #2A9D8F;
}

.block-effect {
  font-size: calc(8px + 6vw);
}

@keyframes revealBlockHiCharlie {
    100% {
      color: #0f0f0f;
    }
}

@keyframes revealBlockHighlight {
    100% {
      color: #2A9D8F;
    }
}

@keyframes revealingIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes revealingOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.intro-photo {
  width: 28rem;
  height: 29rem;
  margin-right: 4rem;
  float: right;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 10rem;
  z-index: 10;
}

.icon-container a {
  margin: 0 1rem 0 1rem;
}

.icon-container img {
  height: 5rem;
  width: 5rem; 
  position: relative;
  transition: all .2s ease-in-out; 
}

.icon-container img:hover{
  transform: scale(1.2); 
}

.image-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.wavy-graphic {
  width: 100%;
}

/* introduction slide in animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-50rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(20rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}


.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.slide-in-bottom {
  animation-name: slideInBottom;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}


