.main-container {
  display: flex;
  flex-direction: column;
  background: #F2E9E4;
}

.intro-container {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 68rem;
  padding: 20rem 0 2rem 5rem;
  z-index: 10;
}

.intro-container p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 55px;
  padding-top: 5rem;
  color: #000000;
}

.intro-copy {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 4rem;
  width: 45%;
}

.hi-charlie {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 500;
  font-size: 8.2rem;
  line-height: 6rem;

  display: inline;
  background-image: linear-gradient(#F2E9E4 60%, #D9D9D9 25%);

  color: #000000;
}

.highlight {
  color: #2A9D8F;
}

.intro-photo {
  width: 28rem;
  height: 29rem;
  margin-right: 4rem;
  float: right;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: -16rem;
  top: 7rem;
  left: 36rem;
  /* transform: translate(-50%, -50%); */
  z-index: 10;
}

.icon-container a {
  margin: 0 1rem 0 1rem;
}

.icon-container img {
  height: 5rem;
  width: 5rem; 
  position: relative;
  transition: all .2s ease-in-out; 
}

.icon-container img:hover{
  transform: scale(1.2); 
}

.image-container {
  display: inline-block;
  position: relative;
  width: 100%;
}

.wavy-graphic {
  width: 100%;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(20rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(20rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.slide-in-right {
  animation-name: slideInRight;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.slide-in-bottom {
  animation-name: slideInBottom;
  animation-duration: 1200ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
}