.upper-background {
  height: 80rem;
  width: 100%;
  background-color: #778F82;
  padding: 10rem 0 2rem 8rem;
}

.upper-background h1 {
  margin-top: 0;
}

.lower-background {
  height: 80rem;
  width: 100%;
  background-color: #F2E9E4;
  padding: 5rem 8rem 2rem 8rem;
}

.project-title {
  font-family: 'Oswald';
  font-style: regular;
  font-weight: 400;
  font-size: 5.5rem;
  line-height: 95px;

  display: flex;
  justify-content: left;
  padding: 1rem 0 2rem 0;
  color: black;
}

.subtitle {
  font-family: 'Oswald';
  font-style: regular;
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 95px;

  display: flex;
  justify-content: left;
  padding: 0 0 3rem 0;
  color: black;
}

.project-container {
  display: flex;
  flex-direction: row;
}

.left-project-container {
  height: 40rem;
  width: 50%;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  height: 10rem;
  width: 30rem;
  color: white;
  margin-bottom: 5rem;
}

.skill-stamp {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Lato';
  font-weight: 400;
  font-size: 1rem;
}

.skill-stamp img {
  height: 4.5rem;
  width: 4.5rem; 
}

.home-button {
  display: flex;
  width: 1rem;
}

.repo-button {
  display: flex;
  padding-top: 3rem;
}

button {
  border: none;
  background: none;
  font-family: Oswald;
  color: black;
}

button:hover {
  cursor: pointer;
}

.left-project-container button {
  background-color: #F2E9E4;
  height: 3rem;
  width: 9rem;
  border-style: solid;
  border-color: white;
  border-radius: 2.5rem;
  flex-shrink: 0;
  font-size: 1.3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem 0.2rem 0;
}

.arrow-icon {
  padding-right: 0.5rem;
}

.right-project-container {
  height: 40rem;
  width: 50%;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-project-container img {
  height: 25rem;
  width: 38rem;
  border-style: solid;
  border-color: white;
  border-width: 0.2rem;
  border-radius: 1rem;
}

.right-project-container button {
  background-color: #F2E9E4;
  height: 3rem;
  width: 8rem;
  border-style: solid;
  border-color: white;
  border-radius: 2.5rem;
  flex-shrink: 0;
  font-size: 1.3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}

.right-project-container .link {
  margin-top: 2rem;
}

.feature-list {
  color: black;
  font-size: 2rem;
  line-height: 50px;
  margin: 5rem 0 6rem 2rem;
}

.writeup-container {
  display: flex;
  flex-direction: row;
}

.writeup-container img{
  height: 25rem;
  width: 38rem;
  border-style: solid;
  border-color: black;
  border-width: 0.2rem;
  border-radius: 1rem;
}

.challenges-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 3rem;
}

.challenges-container p {
  font-size: 2rem;
  text-align: left;
}

.challenges-container img {
  margin-bottom: 5rem;
}

.goal-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 3rem;
}

.goal-container p {
  font-size: 2rem;
}

.goal-container img {
  display: flex;
  text-align: right;
  margin-top: 7rem;
}

.lower-background button {
  background-color: #000000;
  color: white;
  height: 3rem;
  width: 9rem;
  border-style: solid;
  border-color: black;
  border-radius: 2.5rem;
  flex-shrink: 0;
  font-size: 1.3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  padding: 0 0.5rem 0.2rem 0;
}

.project-page-border{
  border: none;
  width: 100%;
  transform: rotate(180deg);
  display: flex;
}

