.projects-background {
  background: #778F82;
  height: 75rem;
}

.projects-background p {
  color: white;
  font-size: 2rem;
  font-family: 'Lato';
}


.custom-wrapper {
  width: 75%;
  height: 30rem;
  margin: auto;
}


.splide__slide img {
  width: 100%;
  height: 100%;
}