.projects-background {
  background: #778F82;
  height: 70rem;
}

.projects-background p {
  color: white;
  font-size: 2rem;
  font-family: 'Lato';
}

.splide__slide img {
  width: 100%;
  height: auto;
}