.skills-background {
  background: #F2E9E4;
  min-height: 65rem;
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 2rem 0 0 8rem;
}

.row>.tilty-margin:not(:last-child) {
  margin-right: 2rem;
}

.row>.tilty-margin:not(:first-child) {
  margin-left: 2rem;
}

.tilty {
  width: fit-content;
}

.skill-box-green {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: auto;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;

  background: #778F82;
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill-box-grey {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: auto;
  width: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;

  background: #D9D9D9;
  color: black;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skill-icons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.row h2 {
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 3rem;
  text-align: start;
}

.row h5 {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1rem;
}

.skill-stamp {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: 0 1rem 0 1rem;
}

.skill-stamp img {
  height: 4.5rem;
  width: 4.5rem;
}

.skill-box-grey img {
  filter: invert(100%);
}

#skills {
  scroll-margin-top: 5rem;
}


/* Responsive CSS */

@media screen and (max-width: 1465px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .skill-box-green {
    margin-bottom: 2rem;
  }

  .second-row .tilty {
    order: 0;
  }

  .second-row .tilty-margin {
    order: 1;
  }
}