* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: #778F82;
  width: 100%;
  min-height: 110rem;
  display: block;
  overflow: initial;
}

.title {
  font-family: 'Oswald';
  font-style: regular;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 95px;

  display: flex;
  justify-content: left;
  padding: 4rem 0 3rem 8rem;
}

.timeline-title {
  color: white;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  z-index: 20;
}

#about {
  scroll-margin-top: 25rem;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 2s;
}

.container:nth-child(3) {
  animation-delay: 4s;
}

.container:nth-child(4) {
  animation-delay: 6s;
}

.text-box {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  border-style: solid;
  border-width: 0.3rem;
  border-color: #000000;
  font-size: 1.4rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 35rem;
}

.left-container {
  left: -5%;
  /* width: 45rem; */
}

.right-container {
  left: 55%;
  /* width: 45rem; */
}

.container img {
  position: absolute;
  width: 6rem;
  height: 6rem;

  border: solid;
  border-color: #000000;
  border-radius: 50%;
  border-width: 0.2rem;

  right: -20%;
  top: 3.2rem;
  z-index: 1;
}

.right-container img {
  left: -16%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 39rem;
  background: #D9D9D9;
  top: 0;
  left: 51%;
  margin-left: -1px;
  z-index: 10;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 85%;
  }
}

.text-box small {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.text-box p {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.text-box ul {
  text-align: left;
  line-height: 22px;
  margin-left: 1rem;
}

.text-box li {
  padding: 8px;
  line-height: 2rem;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 57px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #FFFFFF;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 57px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #FFFFFF;
  left: -15px;
}

/* Responsive CSS */

@media screen and (max-width: 1045px) {
  .timeline {
    margin: 50px auto;
  }

  .timeline::after {
    left: 31px;
    height: 90rem;
  }

  .container {
    width: 100%;
    padding-left: 7rem;
    padding-right: 25px;
  }

  .text-box {
    font-size: 1.5rem;
    width: 70%;
  }

  .text-box small {
    margin-bottom: 10px;
  }

  .text-box li {
    line-height: 2.5rem;
  }

  .left-container {
    left: 0;
  }

  .right-container {
    left: 0;
  }

  .left-container img {
    left: -1rem;
  }

  .right-container img {
    left: -1rem;
  }

  .left-container-arrow, .right-container-arrow {
    border-right: 15px solid #FFFFFF;
    border-left: 0;
    left: -15px;
  }
}